.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

metadata/opcodes.def

.vs/
x64/
Debug/

proj/vm.fs

node_modules/
.bin/

log*

obj/
*.vcxproj

*.filters
out/


CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
insmvm.sln
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
compiler/antrl/.antlr/

compiler/antrl/generated/

wave.std/bin/
